name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*" # Push events to matching v*

permissions:
  contents: write

jobs:
  build:
    env:
      HEAD_BRANCH: update/$GITHUB_REF_NAME
      TITLE: "Bump up to finschia/$GITHUB_REF_NAME"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set envs
        run: |
          echo "HEAD_BRANCH=update/$GITHUB_REF_NAME" >> $GITHUB_ENV
          echo "TITLE=Bump up to finschia/$GITHUB_REF_NAME" >> $GITHUB_ENV
      - name: create & push branch
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git checkout -b ${{ env.HEAD_BRANCH }}
          date > generated.txt
          git add .
          git commit -m "${{ env.TITLE }}"
          git push --set-upstream origin ${{ env.HEAD_BRANCH }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: create PR
        run: |
          npm install @octokit/@octokit/rest @octokit/auth-app
          node .github/actitons/autopr.js
        env:
          AUTOPR_APP_TOKEN: ${{ secrets.AUTOPR_APP_TOKEN }}
          OWNER: tkxkd0159
          REPO: autopr
          TITLE: ${{ env.TITLE }}
          HEAD: ${{ env.HEAD_BRANCH }}
